@import url(../fonts/gotham.css);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font-body: , 'sans-serif';
    --color-magenta: #ED145B;
    --color-grey: #202121;
    --color-grey-2: #0B0C0D;
    --color-grey-3: #454C4F;
    --color-black: #000;
    --color-white: #fff;

}

html {
    color: var(--color-white);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    body {
        background-color: var(--color-black);
        overflow-x: hidden;

        .container-fluid {
            width: 100vw;
            height: 100vh;
        }

        .container {
            width: 100%;
        }

        header {
            padding: 5px 0px;
            max-height: 80px;
            position: fixed;
            top: 0;
            z-index: 3;
            transition: all 0.5s;

            nav {
                display: flex;
                justify-content: center;
                align-content: center;

                .logoimg {
                    margin: 20px 0px 20px 0px;
                    height: 39px;
                }
            }

            .page-bar {
                background-color: var(--color-magenta);
                margin: 0;
                padding: 0;
                height: 5px;

                transform-origin: 0 50%;
            }

        }

        .menu-animation {
            padding: 0;
            background-color: var(--color-grey);
            transition: all 0.5s;
        }

        main {
            .main-container {
                display: flex;
                height: 100vh;

                .main-box {
                    margin: auto;

                    h1 {
                        font-family: Gotham HTF;
                        font-size: 110px;
                        font-weight: 500;
                        line-height: 100px;
                        letter-spacing: -0.05em;
                        text-align: left;

                    }

                    h2 {
                        position: absolute;
                        top: 28vh;
                        font-family: Gotham HTF;
                        font-size: 350px;
                        font-weight: 900;
                        line-height: 27px;
                        letter-spacing: -0.01em;
                        text-align: center;
                        z-index: -1;
                        color: var(--color-grey-2);

                    }
                }
            }
        }

        .intro {
            .intro-container {
                height: 100%;
                display: flex;
                flex-direction: column;

                p {
                    margin-bottom: 3rem;
                }

                .intro-text-one {
                    font-family: Gotham HTF;
                    font-size: 83px;
                    font-weight: 500;
                    line-height: 27px;
                    text-align: left;

                    .class-txt,
                    .tecno-txt {
                        border-bottom: solid 2px var(--color-white);

                        p {
                            margin: 1.5rem 1.2px;
                            padding: 1.5rem 0;
                        }


                    }

                    .scroll-auto {
                        width: 100vw;

                        &-right__inner,
                        &-left__inner {
                            display: flex;
                            flex-wrap: wrap;

                        }

                        & {
                            overflow: hidden;

                        }

                        & .scroll-auto-right__inner {
                            width: max-content;
                            flex-wrap: nowrap;
                            animation: scroll-auto-right 20s linear infinite;

                        }

                        & .scroll-auto-left__inner {
                            width: max-content;
                            flex-wrap: nowrap;
                            animation: scroll-auto-left 20s linear infinite;

                        }
                    }


                    @keyframes scroll-auto-right {
                        from {
                            transform: translate(-50%);
                        }

                    }

                    @keyframes scroll-auto-left {

                        to {
                            transform: translate(calc(-50%));
                        }
                    }


                }

                .intro-figure {
                    display: flex;



                    .intro-img {
                        min-width: 1495px;
                        margin: 3rem auto;
                    }

                    .container-curtain {
                        background-color: var(--color-black);
                        z-index: 0;
                        position: absolute;
                        width: 100vw;
                        height: 804px;


                    }

                    .curtain__animation {
                        animation: show-image 1s forwards;
                    }

                    @keyframes show-image {
                        0% {
                            height: 804px;
                            top: 131vh;
                        }

                        100% {
                            height: 0px;
                            top: 220vh;
                        }
                    }

                }

                .intro-text-two {
                    font-family: Gotham HTF;
                    font-size: 144px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: -0.06em;
                    text-align: left;
                    z-index: 2;
                    color: transparent;
                    -webkit-text-stroke: 2px var(--color-grey-3);

                    .tuto-txt {
                        font-style: italic;
                    }

                    .scroll {
                        width: 100vw;
                        overflow: hidden;

                        &-left__inner,
                        &-right__inner {
                            display: flex;
                            flex-wrap: wrap;
                            width: max-content;
                            gap: 3rem;


                            p {
                                margin: 10px 0;
                                padding: 50px 0;
                            }

                            .line-1-text__left,
                            .line-2-text__left {
                                width: max-content;
                                position: absolute;
                                top: 205vh;
                                left: 0px;

                            }

                            .line-1-text__right,
                            .line-2-text__right {
                                width: max-content;
                                position: absolute;
                                right: 0px;

                            }


                        }


                    }

                }
            }
        }

        .water {
            margin: 200px 0;

            .water-container {

                img {
                    height: 100%;
                }


            }
        }

        .cursos {
            .cursos-container {
                height: 100%;
                width: 70%;
                margin: 200px auto;
                display: flex;
                flex-wrap: wrap;
                //fonte
                font-family: Gotham HTF;
                font-weight: 500;
                letter-spacing: -0.03em;
                text-align: left;

                .cursos-title-section {
                    width: 60%;
                    height: 15%;

                    .title-section-text {
                        font-weight: 400;
                        font-size: 92px;
                        margin: 0;
                    }

                    .subtitle-section-text {
                        margin-top: 0;
                        font-size: 22px;
                        color: var(--color-magenta);
                    }
                }

                .cursos-nav {
                    width: 40%;
                    height: 15%;

                    &-list {
                        justify-content: space-evenly;
                        display: flex;
                        padding: 0px;
                        list-style-type: none;

                        .cursos-nav-iten {
                            color: #8A959B;
                        }
                    }
                }

                .cursos-iten {
                    width: 100%;
                    height: 85%;

                    .cursos-iten-title {
                        font-size: 55px;
                        line-height: 60px;
                        margin: 4rem 0;

                    }

                    .cursos-iten-text {
                        font-family: PT Sans;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 30px;
                        text-align: left;
                        padding-bottom: 15px;
                        width: 50%;
                        color: #8A959B;
                        border-bottom: 1px solid #8A959B;

                        span {
                            font-family: Gotham HTF;
                            font-size: 13px;
                            font-weight: 100;
                            line-height: 12px;
                            letter-spacing: 0.07em;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}